.App {
  text-align: center;
}
  div.a{
    position: absolute;
    text-align: center;
    width: 68%;
    top: 25%;
    color: white;
  }

  button.buttonBox {
    background-color: white;
    float: right;
    width: 70%;
    height: 70px;
    text-align: center;
    border-width: thin;
    
    margin-bottom: 0;
    border-left: 3px yellow;
  }
  button.buttonBackBox {
    background-color: yellow;
    padding: auto;
    min-width: 150px;
    min-height: 30px;
    text-align: center;
    box-shadow: darkgray;
    
  }
  p.organizerName{
    font-weight: lighter;
  }
  p.subjectName{
    text-align: center;
    font-weight: 900;
  }
  p.roomName{
    text-align: center;
    font-weight: lighter;
    color: gray;
  }
  p.currentMeeting{
    font-stretch: 130%;
    font-weight: 100;
  }
  p.time{
  height: 70px;
  }
  h1.currentMeeting{
    font-size: 250%;
  }
  
  .sidebar {
    float: right;
    width:32%;
    position: fixed;
    background-color: white;
    overflow-y: scroll;
    top: 0;
    bottom: 0;
  }
  .sidebar::-webkit-scrollbar{
    display: none; 
  }

  /* Details */
  .alignIcon{
    display: flex;
    justify-content: left;
    height: auto;
    min-height: 15px;
    width: auto;
    
  }

  .descriptionIcon{
    width: 15px;
    height: 15px;
    display: inline-block;
  }

  .background{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    
  }

  .center{
    width: 68%;
    float: left;
  }
  .rigthSide{
    width: 32%;
    float: right;
  }
  .bottomCenter{
  position: fixed;
  bottom: 10%;
  overflow: hidden;
  
  }


  .item:hover{
    background: rgb(73, 71, 71);
  }
  .line{
    width: 100%;
    border-bottom: 1px black;
    position: absolute;
  }

  .gridContainer{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
    padding: 20px;
    height: 100px;
  
    max-width: 100%;

  }

  .item{
    grid-row-start: 1;
    grid-row-end: 3; 
    color: white;
    background: rgb(73, 71, 71,0.4);
    border: none;

  }

/*dropdown*/
.dropdownButton {
  padding: 10px;
  border: none;
cursor: pointer;
}

.dropdown{
  position: relative;
  display: inline-block;
}
.dropdownContent{
  display: none;
  position: absolute;
  z-index: 1;
}


